html {
    font-size: 16px;
}

@media (max-width: 767.98px) {
    html {
        font-size: 15px;
    }
}

html, body {
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #302e2b;
}

.footer {
    color: #bbb;
    padding: 1rem 0;
}

pre, code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
}