@model Chess.Models.Game
@{
    ViewData["Title"] = "Chess Application";
    int i = 0;
}



<div class="container">
    <div class="row" style="max-width:100%;">
        @foreach(var cell in @Model.Board.Cells)
        {
            if(i%8==0)
            {
                <div class="col-2" style="margin:0; padding:0;"></div>
            }
            if(@cell.Piece == null)
            {
                <div class="col-1" style="background-color:@cell.FieldColor; padding-top:8%;">
                </div>
            }
            else
            {
                <div class="col-1" style="background-color:@cell.FieldColor; padding-top:5%">
                    <img style="margin:0; padding:0;" src=@cell.Piece.Image>
                </div>
            }
            if(i%8==7)
            {
                <div class="col-2" style="margin:0; padding:0;"></div>
            }
            i++;
        }
    </div>
    <div>
        Move:<br />
        White Score:<br />
        Black Score:<br />
    </div>
</div>